@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.navLink {
	@apply block py-4 px-2 xl:px-0 font-poppins text-lg;
}

.heroBullet {
	@apply h-4 w-4 bg-gray-100 rounded-full cursor-pointer;
}
.footerLink {
	@apply font-inter text-base;
}
.footerLinkHeader {
	@apply font-inter text-2xl font-medium block mb-6;
}
.footerLinkParent {
	@apply space-y-6 pr-12 mb-10;
}
.signInput {
	@apply block w-full border-b py-3 px-4 mt-10 text-base rounded-sm outline-none focus:ring-1 focus:ring-tertiary-100 focus:bg-tertiary-100/10;
}
.checkLabel {
	@apply block w-full py-3 text-base opacity-50;
}

@keyframes opacityAnimate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@layer components {
	.animate {
		animation-name: opacityAnimate;
		animation-duration: 300ms;
	}
	.button {
		@apply bg-tertiary-100 text-base text-white font-medium px-10 py-3.5 rounded-sm  mx-auto font-poppins hover:bg-tertiary-200 active:bg-tertiary-300 focus:outline-none focus:ring-1 focus:ring-tertiary-300 shadow-md;
	}
	.categoryBtn {
		@apply bg-tertiary-100 text-base text-white font-normal p-1 px-2 mx-0 rounded-sm   font-poppins hover:bg-tertiary-200 active:bg-tertiary-300 focus:outline-none focus:ring-1 focus:ring-tertiary-300 shadow-md border;
	}

	.input {
		@apply block w-full rounded-sm py-3 px-3 border border-secondary/10 outline-none focus:ring-1 focus:ring-tertiary-100 focus:bg-tertiary-100/10 text-base bg-extraColor;
	}

	.icon {
		@apply bg-white rounded-full p-2  cursor-pointer  hover:bg-extraColor active:bg-tertiary-300  shadow-md;
	}

	.link {
		@apply font-medium underline underline-offset-2;
	}

	.timer {
		@apply flex items-center justify-center flex-col font-medium;
	}

	.navActive {
		@apply after:absolute after:-bottom-[10%] after:left-0 after:bg-secondary after:h-[1.5px] after:w-full font-medium;
	}

	.navNotActive {
		@apply after:absolute after:-bottom-[10%] after:left-[50%] after:-translate-x-[50%]  after:w-0 after:bg-secondary after:h-[1.5px] hover:after:w-full after:transition-all after:duration-300;
	}

	.flex-center {
		@apply flex justify-center items-center gap-4;
	}
	.flex-between {
		@apply flex justify-between items-center;
	}
	.grid-center {
		@apply grid place-items-center;
	}

	.border-bottom {
		@apply border-b border-secondary/10;
	}
}

@layer utilities {
	.padding {
		@apply px-5 sm:px-8 lg:px-16 py-10 sm:py-12 lg:py-24;
	}

	.padding-x {
		@apply px-5 sm:px-8 lg:px-16;
	}

	.padding-y {
		@apply py-10 sm:py-12 lg:py-24;
	}

	.padding-l {
		@apply pl-5 sm:pl-8 lg:pl-16;
	}
	.padding-r {
		@apply pr-5 sm:pr-8 lg:pr-16;
	}
	.padding-t {
		@apply pt-10 sm:pt-12 lg:pt-24;
	}
	.padding-b {
		@apply pb-10 sm:pb-12 lg:pb-24;
	}
}
